version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Kolkata"
    labels:
      - "dependencies"
    reviewers:
      - "Jarmos-san"
      - "Bhupesh-V"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Kolkata"
    labels:
      - "dependencies"
    reviewers:
      - "Jarmos-san"
      - "Bhupesh-V"
