* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 67.5%;
  overflow-x: hidden;
}

#header {
  font-size: 1.6rem;
  background: url("./assets/leo-manjarrez-q2RE-l8xysk-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  color: white;
}

.header__container {
  height: 100%;
  width: 100%;
}

#join__button {
  background-color: tomato;
  padding: 1rem 2.5rem;
  border-style: none;
  border-radius: 10rem;
  margin-top: 2.5rem;
  margin-left: 10rem;
  font-size: 2rem;
}

.header__container__rightbox {
  position: relative;
}

.header__container__rightbox__form {
  width: 80%;
  height: 300px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  animation: leftTransition 1s ease-out;
  animation-fill-mode: forwards;
  padding: 2% 4% 0;
  color: #3b737e;
}

.header__container__rightbox__form h2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.header__container__rightbox___form__input {
  color: #674041;
  width: 100%;
  margin-bottom: 1%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  resize: none;
  outline: none;
  background-color: #3b737e;
  color: white;
}

.header__container__rightbox__form label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@keyframes leftTransition {
  0% {
    transform: translate(100%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

.header__container__leftbox {
  position: relative;
  padding-top: 20rem;
  text-align: center;
}

#header h1 {
  font-size: 7rem;

  text-shadow: 0 0 0.7rem black;
}

#header h3 {
  font-size: 2rem;

  text-shadow: 0 0 0.7rem black;
}
