.nav {
  height: 50px;
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: x-large;
}

.links {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.nav ul li a {
  font-size: medium;
  color: gray;
  margin: 5px 15px;
}
