@import "~@fontsource/inter/index.css";

@mixin heading {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $color-dark;
}

.heading-primary {
  @include heading;
  text-align: center;
  margin-bottom: 3.2rem;

  font-size: 4.8rem;
  line-height: 6rem;

  @media screen and (max-width: 1200px) {
    font-size: 4.2rem;
    line-height: 5.2rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.heading-secondary {
  @include heading;
  text-align: center;
  font-size: 3.6rem;
  line-height: 5rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 1200px) {
    font-size: 3rem;
    line-height: 4rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
